<app-menu></app-menu>
<section class="heading">
    <span class='component-title'>[{{title}}]</span>
  </section>
  <main class="single">
    <table *ngIf='product' class="table table-sm">
      <tr>
        <td>
            Vendor:
        </td>
        <td>
            <select [(ngModel)]="product.vendor" class="rounded" [compareWith]="compVendor">
                <option *ngFor='let vendor of vendors' [ngValue]='vendor'>{{vendor.name}}</option>
            </select>
        </td>
      </tr>
      <tr>
        <td>
            Product Number:
        </td>
        <td>
            <input [(ngModel)]="product.partNumber" class="rounded" type="text">
        </td>
      </tr>
      <tr>
        <td>
            Name:
        </td>
        <td>
            <input [(ngModel)]="product.name" class="rounded" type="text">
        </td>
      </tr>
      <tr>
        <td>
            Price:
        </td>
        <td>
            <input [(ngModel)]="product.price" class="rounded" type="text">
        </td>
      </tr>
      <tr>
        <td>
            Unit:
        </td>
        <td>
            <input [(ngModel)]="product.unit" class="rounded" type="text">
        </td>
      </tr>
      <tr>
        <td>
            Photo Path:
        </td>
        <td>
            <input [(ngModel)]="product.photoPath" class="rounded" type="text">
        </td>
      </tr>
    </table>
  </main>
  <span><button (click)="save()" class="btn btn-sm btn-primary">{{submitBtnTitle}}</button></span> |
  <!--
  <span><button (click)="backClicked()" class="btn btn-sm btn-primary">Back</button></span>
  -->