<app-menu></app-menu>
<div class="component">
    <section class="heading">
        <span class="page-title font-weight-bold font-italic">{{title}}</span>
        <span>&nbsp;<a routerLink="/movie-list">Return to List</a></span>
    </section>
    <main *ngIf='movie' class="single">
        <table class="table table-sm">
            <tr>
                <td>ID</td>
                <td><input [(ngModel)]="request.id" class="rounded" type="text" style="width: 220px" disabled> </td>
            </tr>
            <tr>
                <td>User:</td>
                <td><input [(ngModel)]="request.user.userName" class="rounded" type="text" style="width: 220px"
                        disabled> </td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><input [(ngModel)]="request.description" class="rounded" type="text" style="width: 220px" disabled>
                </td>
            </tr>
            <tr>
                <td>Justification:</td>
                <td><input [(ngModel)]="request.justification" class="rounded" type="text" style="width: 220px"
                        disabled> </td>
            </tr>
            <tr>
                <td>Date Needed:</td>
                <td><input [(ngModel)]="request.dateNeeded" class="rounded" type="text" style="width: 220px" type="date"
                        disabled> </td>
            </tr>

            <tr>
                <td>Delivery Method:</td>
                <td>
                    <input [(ngModel)]='request.deliveryMode' [checked]="request.deliveryMode == 'Pick Up'"
                        class="rounded" type="radio" value="Pick up" disabled>Pick up 
                    <input [(ngModel)]='request.deliveryMode' [checked]="request.deliveryMode == 'Mail'" class="rounded"
                        type="radio" value="Mail" disabled>Mail <br>
                </td>
            </tr>

            <tr>
                <td>Status:</td>
                <td><input [(ngModel)]="request.status" class="rounded" type="text" style="width: 220px" type="text"
                        disabled> </td>
            </tr>
            <tr>
                <td>total:</td>
                <td><input [(ngModel)]="request.total" class="rounded" type="text" style="width: 220px" type="number"
                        disabled> </td>
            </tr>
            <tr>
                <td>Submitted Date:</td>
                <td><input [(ngModel)]="request.submittedDate" class="rounded" type="text" style="width: 220px"
                        type="text" disabled> </td>
            </tr>
            <tr>
                <td>Reason for Rejection:</td>
                <td><input [(ngModel)]="request.reasonForRejection" class="rounded" type="text" style="width: 220px"
                        type="text" disabled> </td>
            </tr>
        </table>
    </main>
    <span *ngIf='isAdmin||request.status=="New"'>
        <span><a routerLink="/requests/edit/{{request.id}}" class="btn btn-sm btn-warning">Edit</a></span>
        <span><button (click)="delete()" class="btn btn-sm btn-danger">Delete</button></span>
       
    </span>
    <span><button (click)="backClicked()" class="btn btn-sm btn-primary">Back</button></span>
</div>
